.topBar{
    background-color: #137B25;
    margin-bottom: 1rem;
    width: 100%;
    padding: 1rem 0rem;
    color: #fff;
}

.flexRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topBarImage{
    max-width: 100px;
}

.topBarLogo {
    font-size: 1.4rem;
}

.navBar{
    display: flex;
}