.topBar{
    background-color: #137B25;
    margin-bottom: 1rem;
    width: 100%;
}

.flexRow{
    display: flex;
    justify-content: space-between;
}

.topBarImage{
    width: 100px;
    height: heigh;
}