.topBar{
    background-color: #137B25;
    margin-bottom: 1rem;
    width: 100%;
}

.flexRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topBarImage{
    max-width: 100px;
}

.navBar{
    display: flex;
}